streamlit
numpy #numerical processing, matrix, arrays, mathematical operations, transposing, reshaping matrices, random number generation etc.
pandas # data wrangling, cleaning, structuring, transforming raw, messy data into usable format
scikit-learn # ml in Python
